In [1]:
# Loading the libraries
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import GridSearchCV,train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [6]:
# Loading each file into a dataframe and concatenating
folder_path = "D:\\DataScience\\1.Personal Projects\\Projects\\1.Machine Learning Projects\\1.Regression\\1.Spinny Car\\1.Scraped Data"

# Creating an empty dataframe
df = pd.DataFrame(columns=['id','make','model','mileange','make_year','price','fuel_type','no_of_owners','body_type','transmission','transmission_sub_type','city','registration_year','insurance_year','insurance_month'])

# Looping through the files in the directory and loading as a dataframe
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path,file_name)
        df_temp = pd.read_csv(file_path)
        df = pd.concat([df,df_temp],axis=0)
        
# Displaying the first 5 rows
df.head()

C:\Users\chall\AppData\Local\Temp\ipykernel_3488\3984359573.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df,df_temp],axis=0)

,id,make,model,mileange,make_year,price,fuel_type,no_of_owners,body_type,transmission,transmission_sub_type,city,registration_year,insurance_year,insurance_month,variant
0,16932132,Maruti Suzuki,Celerio,32810,2022,600582.0,petrol,1,hatchback,automatic,AMT,Ahmedabad,2022,2025.0,12.0,ZXI Plus AMT
1,17514495,Maruti Suzuki,Ignis,32753,2018,515000.0,petrol,1,hatchback,automatic,AMT,Ahmedabad,2019,2025.0,12.0,Zeta AMT Petrol
2,14713048,Kia,Seltos,34064,2021,1370999.0,petrol,1,suv,automatic,DCT,Ahmedabad,2021,2025.0,12.0,GTX Plus DCT
3,17128740,Maruti Suzuki,Swift Dzire,73391,2014,408436.0,petrol,1,sedan,manual,regular,Ahmedabad,2014,2025.0,12.0,VXI
4,16590454,Hyundai,Eon,23785,2017,299788.0,petrol,1,hatchback,manual,regular,Ahmedabad,2017,2025.0,12.0,Era +

In [8]:
# Shape of the dataframdf
df.shape

(9888, 16)

In [11]:
# Check for null values if any
df.isna().sum()

id                         0
make                       0
model                      0
mileange                   0
make_year                  0
price                      0
fuel_type                  0
no_of_owners               0
body_type                  0
transmission               0
transmission_sub_type    692
city                       0
registration_year          0
insurance_year           139
insurance_month          139
variant                    0
dtype: int64

In [25]:
# Transmission Subtype is null
df[df['transmission_sub_type'].isna()]

,id,make,model,mileange,make_year,price,fuel_type,no_of_owners,body_type,transmission,transmission_sub_type,city,registration_year,insurance_year,insurance_month,variant
172,15832413,Mahindra,XUV500,93764,2017,917472.0,diesel,1,suv,automatic,NaN,Ahmedabad,2017,2025.0,12.0,W10 AT
183,17583055,Maruti Suzuki,Ciaz,31543,2017,642834.0,petrol,1,sedan,automatic,NaN,Ahmedabad,2018,2025.0,12.0,VXI+ AT
273,17600294,Honda,Amaze,36612,2015,501994.0,petrol,1,sedan,automatic,NaN,Ahmedabad,2015,2025.0,12.0,1.2 VX AT i-VTEC
304,17261458,Tata,Harrier,24441,2023,1793143.0,diesel,1,suv,automatic,NaN,Ahmedabad,2023,2026.0,4.0,HARRIER XZA+(O) 2L Red Dark Edition
334,12907412,Ford,Endeavour,75938,2019,2223902.0,diesel,2,suv,automatic,NaN,Ahmedabad,2019,2025.0,12.0,Titanium 3.2 4x4 AT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,15192007,Mercedes-Benz,E-Class,50153,2016,1989558.0,petrol,1,sedan,automatic,NaN,Pune,2016,2025.0,12.0,E 200 Edition E
649,18201997,Mahindra,Scorpio N,5587,2022,1948095.0,petrol,1,suv,automatic,NaN,Pune,2024,2025.0,12.0,Z8 L Petrol AT 6 STR
656,15032687,Tata EV,Nexon EV,34337,2022,1042178.0,electric,1,suv,automatic,NaN,Pune,2022,2025.0,12.0,XZ Plus Dark Edition
657,12784395,Jaguar,XF,74156,2015,1716858.0,diesel,1,sedan,automatic,NaN,Pune,2015,2025.0,12.0,2.2 Diesel Luxury
658,15192007,Mercedes-Benz,E-Class,50153,2016,1989558.0,petrol,1,sedan,automatic,NaN,Pune,2016,2025.0,12.0,E 200 Edition E

In [26]:
# Check for datatypes of each feature
df.dtypes

id                        object
make                      object
model                     object
mileange                  object
make_year                 object
price                    float64
fuel_type                 object
no_of_owners              object
body_type                 object
transmission              object
transmission_sub_type     object
city                      object
registration_year         object
insurance_year           float64
insurance_month          float64
variant                   object
dtype: object

In [45]:
valid_years = df['insurance_year'] > 0
valid_months = df['insurance_month'].between(1, 12)
df = df[valid_years & valid_months]

In [59]:
# Renaming the mileange feature
df.rename(columns={'mileange':'mileage'},inplace=True,errors='coerce')

# Chanding the dtype of each features to relevant dtype
df['mileage'] = df['mileage'].astype('int',errors='raise')
df['no_of_owners'] = df['no_of_owners'].astype('int',errors='raise')
df['make_year'] = df['make_year'].astype('int',errors='raise')
df['registration_year'] = df['registration_year'].astype('int',errors='raise')
df['insurance_year'] = df['insurance_year'].astype('int64',errors='ignore')
df['insurance_month'] = df['insurance_month'].astype('int64',errors='ignore')
df['day'] = 1
df['insurance_validity'] = pd.to_datetime(df[['insurance_year', 'insurance_month', 'day']].rename(columns={'insurance_year': 'year', 'insurance_month': 'month'}),errors='raise')

C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'mileange':'mileage'},inplace=True,errors='coerce')
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mileage'] = df['mileage'].astype('int',errors='raise')
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['no_of_owners'] = df['no_of_owners'].astype('int',errors='raise')
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['make_year'] = df['make_year'].astype('int',errors='raise')
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['registration_year'] = df['registration_year'].astype('int',errors='raise')
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['insurance_year'] = df['insurance_year'].astype('int64',errors='ignore')
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['insurance_month'] = df['insurance_month'].astype('int64',errors='ignore')
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = 1
C:\Users\chall\AppData\Local\Temp\ipykernel_3488\840735791.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['insurance_validity'] = pd.to_datetime(df[['insurance_year', 'insurance_month', 'day']].rename(columns={'insurance_year': 'year', 'insurance_month': 'month'}),errors='raise')

In [60]:
df.dtypes

id                               object
make                             object
model                            object
mileage                           int32
make_year                         int32
price                           float64
fuel_type                        object
no_of_owners                      int32
body_type                        object
transmission                     object
transmission_sub_type            object
city                             object
registration_year                 int32
insurance_year                    int64
insurance_month                   int64
variant                          object
day                               int64
insurance_validity       datetime64[ns]
dtype: object

In [62]:
# Printing the first five rows
df.head()

,id,make,model,mileage,make_year,price,fuel_type,no_of_owners,body_type,transmission,transmission_sub_type,city,registration_year,insurance_year,insurance_month,variant,day,insurance_validity
0,16932132,Maruti Suzuki,Celerio,32810,2022,600582.0,petrol,1,hatchback,automatic,AMT,Ahmedabad,2022,2025,12,ZXI Plus AMT,1,2025-12-01
1,17514495,Maruti Suzuki,Ignis,32753,2018,515000.0,petrol,1,hatchback,automatic,AMT,Ahmedabad,2019,2025,12,Zeta AMT Petrol,1,2025-12-01
2,14713048,Kia,Seltos,34064,2021,1370999.0,petrol,1,suv,automatic,DCT,Ahmedabad,2021,2025,12,GTX Plus DCT,1,2025-12-01
3,17128740,Maruti Suzuki,Swift Dzire,73391,2014,408436.0,petrol,1,sedan,manual,regular,Ahmedabad,2014,2025,12,VXI,1,2025-12-01
4,16590454,Hyundai,Eon,23785,2017,299788.0,petrol,1,hatchback,manual,regular,Ahmedabad,2017,2025,12,Era +,1,2025-12-01

In [63]:
# Dropping the irrelavant columns
df.drop(['insurance_year','insurance_month','day'],inplace=True,axis=1)

C:\Users\chall\AppData\Local\Temp\ipykernel_3488\2810566507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['insurance_year','insurance_month','day'],inplace=True,axis=1)